@use 'base/mixins' as m;
@include m.tablet {
  .icons-us {
    @include m.grid(3, 2rem);
  }
}

.icon {
  text-align: center;
  img {
    height: 10rem;
  }
  h3 {
    text-transform: uppercase;
  }
}
